<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>todo2</title>
</head>

<body>
    <h2>Todo list</h2>
    <div id="app">
        <form v-on:submit.prevent>
            <input type="text" v-model="newItem">
            <button v-on:click="addItem">add</button>
            <ul>
                <li v-for="(todo,index) in todos">
                    <input type="checkbox" v-model="todo.isDone">
                    <span v-bind:class="{done: todo.isDone}">{{ todo.item }}</span>
                    <button v-on:click="deleteItem">delete</button>
                </li>
            </ul>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>

</html>